<%# navbar %>
<%# <div class= "navbar-watchlist navbar-collapse p-2 d-flex"> %>
  <%# <%= image_tag "0hnl_8x9s_221103.jpg", alt: "popcorn image", class: "mr-auto"%>
  <%# <div> %>
    <%# <%= link_to "My lists", lists_path, class: "btn btn-info" %>
    <%# <%= link_to "New list", new_list_path, class: "btn btn-info" %>
  <%# </div> %>
<%# </div> %>

<%# bannière %>
<div class="banner">
  <h1>Choose the type of movie you want</h1>
  <h3>Or create your own list</h3>
</div>

<%# bouton de création de catégorie %>
<div class = "m-2 p-3">
  <%= link_to "+ Create your list", new_list_path, class: "btn btn-info" %>
</div>

<%# list des catégories %>
<div class = "container m-2 p-3">
  <ul class = "d-flex flex-wrap">
    <% @lists.each do |list| %>
    <li class ="card p-3 m-3 list-card"><%= list.name %></li>
    <% end %>
  </ul>
</div>
