<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%# navbar %>
    <div class= "navbar-watchlist navbar-collapse p-2 d-flex">
    <%= cl_image_tag("shoes") , class: "mr-auto"%>
      <%# <%= image_tag "0hnl_8x9s_221103.jpg", alt: "popcorn image", class: "mr-auto"%> %>
      <div>
        <%= link_to "My lists", lists_path, class: "btn btn-info" %>
        <%= link_to "New list", new_list_path, class: "btn btn-info" %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
